@{
    ViewData["Title"] = "Create New Entry";
}

@model DiaryEntryModel

<h1 class="text-success mb-3">@ViewData["Title"]</h1>

<form asp-action="" method="post">
    <fieldset>
        <div>
            <label asp-for="Title" for="diaryEntryTitle" class="form-label mt-4">Title</label>
            <input asp-for="Title" class="form-control" id="diaryEntryTitle" placeholder="Pick something cool!">
        </div>

        <div>
            <label asp-for="Content" for="diaryEntryContent" class="form-label mt-4">Content</label>
            <textarea asp-for="Title" class="form-control" id="diaryEntryContent" rows="5" placeholder="How was your day?"></textarea>
        </div>

        <div>
            <label asp-for="Date" for="diaryEntryDate" class="form-label mt-4">Date</label>
            <input asp-for="Title" type="date" class="form-control" id="diaryEntryDate" placeholder="When did all of this happen?">
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success mt-4">Submit</button>
            <a class="btn btn-danger mt-4" asp-area="" asp-controller="DiaryEntries" asp-action="Index">Cancel</a>
        </div>

    </fieldset>
</form>