@{
    ViewData["Title"] = "Edit Current Entry";
}

@model DiaryEntryModel

<h1 class="text-success mb-3">@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <fieldset>
        <div>
            <label asp-for="Title" for="diaryEntryTitle" class="form-label mt-4">Title</label>
            <input asp-for="Title" class="form-control mb-2" id="diaryEntryTitle" placeholder="Pick something cool!">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Content" for="diaryEntryContent" class="form-label mt-4">Content</label>
            <textarea asp-for="Content" class="form-control mb-2" id="diaryEntryContent" rows="3" placeholder="How was your day?"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Date" for="diaryEntryDate" class="form-label mt-4">Date</label>
            <input asp-for="Date" type="date" class="form-control mb-2" id="diaryEntryDate" placeholder="When did all of this happen?">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success mt-4">Edit</button>
            <a class="btn btn-danger mt-4" asp-area="" asp-controller="DiaryEntries" asp-action="Index">Cancel</a>
        </div>
    </fieldset>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}