@{
    ViewData["Title"] = "About";
}
<h1 class="text-success mb-3">@ViewData["Title"]</h1>

<p class="nav-link">A diary application with fully functioning CRUD Operations using ASP.NET Core 8 MVC, Razor Pages, Entity Framework and Microsoft SQL.</p>