@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 border-bottom box-shadow mb-3 text-secondary">Welcome!</h1>

    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-outline-secondary" type="button">
                <a class="nav-link text-body" asp-area="" asp-controller="DiaryEntries" asp-action="Index">Click here to see your Diary!</a>
        </button>
    </div>


</div>
