@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3 text-success">Welcome!</h1>

    <figure class="text-center mb-3">
        <blockquote class="blockquote">
            <p class="mb-0">We all die. The goal isn't to live forever, the goal is to create something that will.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Chuck Palahniuk in <cite title="Source Title">Diary</cite>
        </figcaption>
    </figure>

    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-outline-success" type="button">
                <a class="nav-link text-body" asp-area="" asp-controller="DiaryEntries" asp-action="Index">Click here to see your Diary!</a>
        </button>
    </div>


</div>
