@{
    ViewData["Title"] = "Privacy";
}
<h1 class="text-success mb-3">@ViewData["Title"]</h1>

<p>This diary application was made with ASP.NET Core MVC using Entity Framework and MSSQL. It uses Bootstrap for styling. Feel free to use as you see fit.</p>
